* {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url('https://images2.alphacoders.com/778/thumb-1920-77840.jpg');
}

.container {
    display: flex;
    gap: 2rem;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-weight: bold;
    font-size: 2rem;
    width: 25rem;
    padding: 1rem;
    height: 5rem;
}

.button-red{
  background-color: tomato;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button-blue{
    background-color: #3498DB;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
